.order1{background-color:#f4a460!important}.order2{background-color:#dff86d!important}.order3{background-color:#b4f460!important}.order4{background-color:#60d6f4!important}.grid-title{font-size:15px;font-weight:700;color:#3eb5c1;margin-left:5px;margin-bottom:5px;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;border-bottom:1px solid}
/*# sourceMappingURL=24.8efb722c.chunk.css.map */